node_modules
# Keep environment variables out of version control
.env
.env.prod
.early.coverage
build
coverage

generated
logfiles/*

tsconfig.tsbuildinfo

loumo-api/test.rest

__test__
test.rest
uploads/